.content-box {
    flex-grow: 1;

    display: flex;

    align-items: center;
    justify-content: space-evenly;

    padding: 20px;

    gap: 1em;
}

.content-orli {
    max-width: 350px;

    width: 25vw;
}

.content-text {
    max-width: 55%;

    text-justify: align;
}

.content-slogan {
    font-size: xx-large;
}

.content-description {
    font-size: small;
}
